* {
  margin: 0;
  padding: 0;
}
html,
body {
  width: 100%;
  overflow-x: hidden;
}
div {
  width: 100%;
  background-size: 100% 100%;
}
#container > :nth-child(4) {
  position: relative;
  height: 1000px;
  background-image: url(../images/4.jpg);
}
.container-first {
  height: 1000px;
  position: relative;
  background-image: url(../images/1.jpg);
}
.container-first::before {
  content: "";
  height: inherit;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: inline-block;
}
.container-first-child {
  color: #fff;
  position: absolute;
  top: 250px;
  left: 250px;
  animation: TopToBottom 3s ;
}
.container-first-child h1 {
  font-size: 40px;
}
.container-first-child h3 {
  margin-top: 20px;
}
.container-second {
  height: 1000px;
  position: relative;
  transition: 3s linear all;
  background-image: url(../images/2.jpg);
  filter: grayscale(100%);
  color: #fff;
}
.container-second-child {
  position: absolute;
  top: 250px;
  left: 250px;
}
.container-second-child h1 {
  font-size: 40px;
}
.container-second-child h3 {
  margin-top: 20px;
}
.container-third {
  position: relative;
}
.container-third-video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -webkit-filter: grayscale(20%);
}
@keyframes TopToBottom {
  0% {
    transform: translateY(-20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
  }
}
.headerTop {
  height: 120px;
  width: 100%;
  border-bottom: 1px solid #e8eaec;
  color: #fff;
}
.headerTop-container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  text-align: center;
}
.headerTop-child {
  width: 10%;
  margin-top: 40px;
  display: flex;
  justify-content: space-around;
  text-align: left;
}
.headerTop-child-img {
  line-height: 40px;
}
.header {
  width: 100%;
  height: 60px;
  background: #fff;
  display: flex;
  line-height: 60px;
  color: #000;
  font-weight: bold;
  text-align: center;
}
.header-first {
  flex: 10;
  justify-content: center;
}
.header-first div {
  display: inline-block;
  width: 10%;
}
.header-last {
  display: flex;
  flex: 10;
}
.header-last div {
  width: 15%;
  text-align: center;
}
.footer {
  display: flex;
  color: #000;
  text-align: center;
  background: #fff;
  padding: 10px;
}
